@charset "UTF-8";
/* CSS Document */

p{
  font-family: Verdana, sans-serif;
  color: black;
}



/*Nav Styling begin here*/
#logo{
  float: left;
  margin: auto 40px;
}

#top{
  height: 60px;
  color: grey;
  overflow: hidden;
  margin:10px;
}

#bootstrap-overrides nav{
  width: 100%;
  height: 60px;
}

#bootstrap-overrides ul{
  list-style-type: none;
  overflow: hidden;
}

li{
  float: left;
  display: inline;
  line-height: 50px;
  width: 200px;
}

#bootstrap-overrides a{
  text-decoration: none;
}

#bootstrap-overrides a:link{
  text-decoration: none;
  font-family: Helvetica;
  font-size: 1.1em;
  color: #8a3433;
}
#bootstrap-overrides a:visited{
  color:black;
}
#bootstrap-overrides a:hover{
  color: #990000;
  font-weight: 800;
  border-bottom:1px solid #990000;
  transition: all 0.5s ease-in;
  padding:5px 0;

}
#bootstrap-overrides a:active{
  color: red;
}


/*Welcome Container Div sytling*/

#btn{
  border:1px solid #990000;
  margin:20px 0;
  border-radius: 10px;
  font-size: 1.5em;
  position: relative;
}
#btn:hover{
  border: 2px solid #990000;
  color:white;
}
#btn.btn{
  text-decoration: none;
  font-size: 20px;
  font-family: Verdana, sans-serif;
}
#btn.btn a:link{
  font-weight: 800;
}
#btn.btn a:hover{
  font-weight: 800;
  color: #990000;
}
#btn.btn a:active{
  font-weight: 800;
  text-decoration: none;
}




/*Sign Up Div styling*/
#signup {
  width: 100%;
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0, 0, 0, 0.5)), url("../images/corks.jpg");
  height:70vh;
  background-position: center;
  background-size: cover;
}

#signup h1{
  color:white;
}
#signup p{
  color:white;
}

#subscribe{

}







/*Footer Div styling*/
#footer{
  position: relative;
  left: 0;
  bottom: 0;
  height: 150px;
  width: 100%;
  margin: 0 auto;
}
.container#footer{
  /*perhaps have background image or pattern*/
}


#back-top{
  text-align: center;
}

#back-top h2{
  color:gray;
}

#foot-text{
  text-align: center;
  margin:0;
}

#foot-text p{

}






/*Wines.html Styles*/
#wine-nav {
  width: 100%;
  background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0, 0, 0, 0.3)), url("../images/tasting.jpg");
  height:70vh;
  background-position: center;
  background-size: cover;
}

#wine-type{
  text-align: center;
  margin-top: 30%;
  display: inline;
}

#wine-type h2{
  color: white;
}
