@charset "UTF-8";
/* CSS Document */

/*Begin Home page and Main Styling*/
p{
  font-family:'Open Sans',Helvetica, sans-serif;
  color: black;
  font-size: 1.1em;
}
h1{
  font-family: 'Roboto', sans-serif;
}
h2{
  font-family: 'Roboto', sans-serif;
}


/*Nav Styling begin here*/
#logo{
  float: left;
  margin: auto 40px;
}

#top{
  height:auto;
  color: grey;
  margin:10px;
  word-wrap: break-word;
}

#bootstrap-overrides nav{
  width: 100%;
  height: 60px;
}

#bootstrap-overrides ul{
  list-style-type: none;
  overflow: hidden;
}

#bootstrap-overrides li{
  float: left;
  display: inline;
  line-height: 50px;
  width: 200px;
}

#bootstrap-overrides a{
  text-decoration: none;
}

#bootstrap-overrides a:link{
  text-decoration: none;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 1.2em;
  color: #8a3433;
  font-weight:300;
}
#bootstrap-overrides a:visited{
  color:black;
}
#bootstrap-overrides a:hover{
  color: #990000;
  font-weight: 500;
  border-bottom:1px solid #990000;
  transition: all 0.5s ease-in;
  padding:5px 0;

}
#bootstrap-overrides a:active{
  color: #990000;
  font-weight: 600;
  border-bottom:1px solid #990000;
}


nav a#pull{
  display: none;
}

/*Nav styles for small screens*/

@media screen and (max-width: 480px) {

#bootstrap-overrides nav ul{
  display: none;
  height: auto;
}

#bootstrap-overrides nav a#pull{
  display: block;
  background-color: white;
  width: 100%;
}

#bootstrap-overrides nav a#pull:after{
  content:"";
  background: url("../images/haburgermenu.gif");
  width:20px;
  height:20px;
  display: inline-block;
  position: absolute;
  right:50px;
  top: 30px;
}

}





/*Welcome Container Div sytling*/
#typography h2{
  font-family: 'Roboto', Helvetica, sans-serif;
}
#typography{
  margin-top: 4%;
  margin-bottom: 4%;
}

#btn{
  border:1px solid #990000;
  margin-top: 10%;
  margin-bottom: 20%;
  margin-left: -10%;
  padding:10px 20px;
  border-radius: 10px;
  font-family:'Open Sans',Helvetica, sans-serif;
  font-weight: 300;
  color:black;
  font-size: 1.2em;
  background-color: white;
}

#btn:visited{
  font-family:'Open Sans',Helvetica, sans-serif;
  font-weight: 300;
  color:#990000;
}
#btn:hover{
  background-color: rgba(153,0,0,.7);
  transition-duration: 0.5s;
  color: white;
  text-decoration: none;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.15), 0 17px 50px 0 rgba(0,0,0,0.2);
}

#btn:active{
  font-family:'Open Sans',Helvetica, sans-serif;
  font-weight: 300;
  color:black;
  background-color: white;
}




/*Sign Up Div styling*/
#signup {
  width: 100%;
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0, 0, 0, 0.5)), url("../images/corks.jpg");
  height:50vh;
  background-position: center;
  background-size: cover;
}

#signup h1{
  color:white;
  font-family: 'Montserrat', sans-serif;
}
#signup p{
  color:white;
  font-size: 1.2em;
  text-align: justify;
}

#subscribe{
  margin-top: 10%;
}

#subscribe-form {
  margin-top: 10%;
}
#subscribe-button{
  border:1px solid #990000;
  text-decoration: none;
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 10px 20px;
}
#subscribe-button:hover{
  text-decoration: none;
  background-color: rgba(153,0,0,.7);
  color: white;
  transition-duration: 0.5s;
}

/*Club Waxwing div styling*/
#club h2{
  font-family: 'Roboto', Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-top: 7%;
}
#club h2:after{
  width: 200px;
  height: 2px;
  background-color: #990000;
  display: block;
  content: "";
  margin:0 auto;
  margin-top: 20px;
}

#club p{
  margin-top: 3%;
  text-align: center;
  line-height: 1.6em;
  margin-bottom: 10%;
}


/*Follow Us div styling*/
#follow-us {
  width: 100%;
  background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0, 0, 0, 0.2)), url("../images/samplewaxwing2.jpg");
  height:50vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
#follow{
  text-align: center;
  color: white;
}
#follow h2{
  margin-top: 15%;
  font-weight: 300;
}

#follow i{
  color: white;
  margin:0 auto;
  margin-top: 3%;
}
#follow i:hover{
  color: #990000;
}


/*Footer Div styling*/
#footer{
  position: relative;
  left: 0;
  bottom: 0;
  height: 150px;
  width: 100%;
  margin: 0 auto;
}

#back-top{
  text-align: center;
}
#back-top a{
  text-decoration: none;
  color: gray;
}

#back-top a:hover{
  color: #990000;
}

#back-top a:active{
  color: #990000;
}

#back-top h2{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  margin-top: 0;
}


#foot-text{
  text-align: center;
  margin:0;
}





/*End Home page and Main Styling*/
/*Wines.html Styles*/
#wine-nav {
  width: 100%;
  background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0, 0, 0, 0.2)), url("../images/wine.jpeg");
  height:50vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#wine-type{
  text-align: center;
  margin-top: 15%;
  display: inline;
}

#wine-type h2{
  font-color: white;
  font-family: 'Roboto', sans-serif;
}

#wine-type a{
  text-decoration: none;
}
#wine-type a:link{
  text-decoration: none;
  color:white;
}
#wine-type a:visited{
  text-decoration: none;
  color:white;
}
#wine-type a:hover{
  text-decoration: none;
  color:white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

#red, #syrah, #riesling, #rose{
  margin-top: 5%;
  margin-bottom: 5%;
}
#red h3{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

#syrah h3{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

#riesling h3{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

#rose h3{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

#imagebreak1{
  width: 100%;
  background-image:url("../images/grapes.jpg");
  height:30vh;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
}
#imagebreak2{
  width: 100%;
  background-image:url("../images/holding-grapes.jpg");
  height:30vh;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
}
#imagebreak3{
  width: 100%;
  background-image:url("../images/green-grapes.jpg");
  height:30vh;
  background-position: center;
  background-size: cover;
  text-align: center;
}
#imagebreak4 {
  width: 100%;
  background-image:url("../images/corks.jpg");
  height:30vh;
  background-position: center;
  background-size: cover;
}
/*Styling for back to top arrows on imagebreaks*/
#imagebreak1 i, #imagebreak2 i, #imagebreak3 i{
  margin-top: 7%;
}

#imagebreak1 a, #imagebreak2 a, #imagebreak3 a{
  text-decoration: none;
  color: rgba(255,255,255,.4);
}

#imagebreak1 a:link, #imagebreak2 a:link, #imagebreak3 a:link{
  text-decoration: none;
  color: rgba(255,255,255,.4);
}
#imagebreak1 a:hover, #imagebreak2 a:hover, #imagebreak3 a:hover{
  color: rgba(0, 0, 0, .4);
}




/*About.html Styling*/
#commitment {
  width: 100%;
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0, 0, 0, 0.5)), url("../images/vineyard3.jpg");
  height:50vh;
  background-position: center;
  background-size: cover;
}
#commitment-content{
  margin-top: 5%;
}
#commitment-content h2{
  font-family: 'Montserrat', sans-serif;;
  font-weight: 400;
  font-style: italic;
  color: white;
}
#commitment-content p{
  color: white;
}

#about h2{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

#the-winemaker, #the-wines, #the-bird{
  margin-top: 10%;
  margin-bottom: 10%;
}



/*Vineyards Page Styling*/
#l-vine {
  width: 100%;
  background-image:linear-gradient(rgba(0,0,0,0.1),rgba(0, 0, 0, 0.1)), url("../images/lester-vineyard.jpg");
  height:50vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#s-vine {
  width: 100%;
  background-image:linear-gradient(rgba(0,0,0,0.1),rgba(0, 0, 0, 0.1)), url("../images/vineyard-sunset.jpg");
  height:50vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#f-vine {
  width: 100%;
  background-image:linear-gradient(rgba(0,0,0,0.1),rgba(0, 0, 0, 0.1)), url("../images/f-vineyard.jpg");
  height:50vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#t-vine {
  width: 100%;
  background-image:linear-gradient(rgba(0,0,0,0.1),rgba(0, 0, 0, 0.1)), url("../images/vineyard3.jpg");
  height:50vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
