@charset "UTF-8";
/* CSS Document */


/*Nav Styling begin here*/
nav{
  width: 100%;
  height: 40px;

}

ul{
  list-style-type: none;
}

li{
  float: right;
  display: block;
  line-height: 50px;
  width: 200px;
}


a{
  text-decoration: none;
}

a:link{
  text-decoration: none;
  font-family: Helvetica;
  color: #8a3433;
}
a:visited{
  color:black;
}
a:hover{
  color: black;
  font-weight: 700;

}
a:active{
  color: red;
}

/*Preview Div sytling*/


/*Sign Up Div styling*/


/*Footer Div styling*/



/**/
